
{{!-- <div class="wrapper">
</div> --}}
<dialog class="mdl-dialog">
  <h4 class="mdl-dialog__title">Allow data collection?</h4>
  <div class="mdl-dialog__content">
    <p>
      Allowing us to collect data will let us get you the information you want faster.
    </p>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button">Agree</button>
    <button type="button" class="mdl-button close">Disagree</button>
  </div>
</dialog>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--5-col mdl-cell--11-col-phone centered">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
      <div class="mdl-tabs__tab-bar">
          <a href="#chat" class="mdl-tabs__tab is-active">Chat</a>
          <a href="#online" class="mdl-tabs__tab">Online</a>
          <a href="#profile" class="mdl-tabs__tab">Profile</a>
      </div>

      <div class="mdl-tabs__panel is-active" id="chat">
        <div id="content" class="">
        </div>
        <div id="send-msg" class="mdl-color--blue">
          <div class="mdl-grid">
              <input class="mdl-textfield__input" onkeypress="javascript: if (event.keyCode === 13) sendMessage();" maxlength="50" placeholder="Say hello!" type="text" id="chat-msg"></input>
              <button onclick="sendMessage();" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Send
              </button>
              <div id="img-upload" class="mdl-color--yellow">
                <input type="file" id="siofu_input" class="hide"/>
                <label class="label" for="siofu_input"><i class="material-icons">cloud_upload</i></label>
              </div>
              <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
            <div class="mdl-cell">
            </div>
            <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--5-col-phone">
            </div>
          </div>
        </div>
        <div aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar">
            <div class="mdl-snackbar__text"></div>
            <button type="button" class="mdl-snackbar__action"></button>
        </div>
      </div>

      <div class="mdl-tabs__panel" id="online">
        <div class="demo-list-action mdl-list" id="user-list">
        </div>
      </div>

      <div class="mdl-tabs__panel" id="profile">
        <div class="mdl-grid profile">
          <div class="back"></div>
          <!-- Square card -->
          <style>
          .demo-card-square.mdl-card {
            width: 320px;
            height: 320px;
          }
          .demo-card-square > .mdl-card__title {
            color: #fff;
            background:
              url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
          }
          </style>

          <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
              <h2 class="mdl-card__title-text">Update</h2>
            </div>
            <div class="mdl-card__supporting-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Aenan convallis.
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                View Updates
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var msgCounter = 0, imgCounter = 0;

  function scrollToBottom() {
    var objDiv = document.getElementById("content");
    objDiv.scrollTop = objDiv.scrollHeight;
  }

  window.onload=function () {
    scrollToBottom();
  }

  function generateMsgChip(username, text, time, direction, color) {
    msgCounter++;
    var element = `<div class="mdl-grid msg">${direction?`<div class="mdl-layout-spacer"></div>`:``}
        <span class="mdl-chip mdl-chip--contact">
          <span class="mdl-chip__contact mdl-color-text--white" id="${username+msgCounter}" style="background-color:${color}">${username[0].toUpperCase()}</span>
          <div class="mdl-tooltip" data-mdl-for="${username+msgCounter}">
            ${username}
          </div>
          <span class="mdl-chip__text">${text}</span>
          <span class="mdl-chip__action">
            <span class="time">${time}</span>
          </span>
        </span>
      </div>`;
    return element;
  }

  function generateImageMsg(username, img, time, direction) {
    msgCounter++;
    imgCounter++;
    var element = `<div class="mdl-grid msg">${direction?`<div class="mdl-layout-spacer"></div>`:``}
                    <div class="demo-card-image mdl-card mdl-shadow--2dp" id="${imgCounter}" style="background-image:url('data:image/png;base64,${img}');background-size:cover">
                      <div class="mdl-card__title mdl-card--expand"></div>
                      <div class="mdl-card__actions">
                        <span class="demo-card-image__filename">${username} - ${time}</span>
                        <!-- Right aligned menu below button -->
                        <button id="${username+msgCounter}"
                                class="mdl-button mdl-js-button mdl-button--icon">
                          <i class="material-icons">more_vert</i>
                        </button>

                        <ul class="mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect"
                            for="${username+msgCounter}">
                          <a href="data:image/png;base64,${img}" download="${msgCounter}.jpg"><li class="mdl-menu__item">Download</li></a>
                        </ul>
                      </div>
                    </div>
                  </div>`;
    return element;
  }

  var content = document.getElementById('content');
  var cur_user = "{{user}}";
  var ui_color = "{{color}}";
  {{#each messages}}      
      if(cur_user == "{{this.msg.username}}"){
        if("{{this.msg.type}}" == "image")
          content.innerHTML += generateImageMsg("{{this.msg.username}}", "{{this.msg.msg}}", "{{this.msg.time}}", 1);
        else
          content.innerHTML += generateMsgChip("{{this.msg.username}}", "{{this.msg.msg}}", "{{this.msg.time}}", 1, "{{#if this.msg.color}}{{this.msg.color}}{{else}}#2196f3{{/if}}");
      }
      else{
        if("{{this.msg.type}}" == "image")
          content.innerHTML += generateImageMsg("{{this.msg.username}}", "{{this.msg.msg}}", "{{this.msg.time}}", 0);
        else
          content.innerHTML += generateMsgChip("{{this.msg.username}}", "{{this.msg.msg}}", "{{this.msg.time}}", 0, "{{#if this.msg.color}}{{this.msg.color}}{{else}}#2196f3{{/if}}");
      }
  {{/each}}
</script>
<script>
  function getCurrentTime() {
    var date = new Date();
    var hours = date.getHours();
    var minutes = date.getMinutes();
    var ampm = hours >= 12 ? 'PM' : 'AM';
    hours = hours % 12;
    hours = hours ? hours : 12; // the hour '0' should be '12'
    minutes = minutes < 10 ? '0'+minutes : minutes;
    var strTime = hours + ':' + minutes + ' ' + ampm;
    return strTime;
  }
  
  function generateMessage(message, type) {
    return {
      "msg": message,
      "type": type||"text",
      "time": getCurrentTime(),
      "username": cur_user,
      "color": ui_color
    };
  }

  var io = new io();

  io.emit('login', "{{user}}");

  var uploader = new SocketIOFileUpload(io);
  uploader.maxFileSize = 1024 * 1000;
  uploader.listenOnInput(document.getElementById("siofu_input"));

  uploader.addEventListener("progress", function(event){
      var percent = event.bytesLoaded / event.file.size * 100;
      document.getElementById("p2").style.display = "block";
      console.log("File is", percent.toFixed(0), "percent loaded");
  });

  uploader.addEventListener("error", function(data){
      if (data.code === 1) {
        var notification = document.querySelector('.mdl-js-snackbar');
        notification.MaterialSnackbar.showSnackbar(
          {
            message: "Don't upload large files"
          }
        );
      }
  });

  io.on('uploaded', (image) => {
    document.getElementById("p2").style.display = "none";
    console.log("Uploaded by : "+cur_user);
    io.emit('chat message', generateMessage(image, "image"));
  });

  function sendMessage() {
    console.log("[TO_SERVER]",generateMessage(document.getElementById('chat-msg').value));
    io.emit('chat message', generateMessage(document.getElementById('chat-msg').value));
    document.getElementById('chat-msg').value="";
  }
  io.on('new message', (msgObj) => {
    var content = document.getElementById('content');
    if(cur_user == msgObj.username){
      console.log("[MSG]",cur_user);
      if(msgObj.type == "image")
        content.innerHTML += generateImageMsg(msgObj.username, msgObj.msg, msgObj.time, 1);
      else
        content.innerHTML += generateMsgChip(msgObj.username, msgObj.msg, msgObj.time, 1, msgObj.color);
    }
    else{
      console.log("[MSG]",cur_user);      
      if(msgObj.type == "image")
        content.innerHTML += generateImageMsg(msgObj.username, msgObj.msg, msgObj.time, 0);
      else
        content.innerHTML += generateMsgChip(msgObj.username, msgObj.msg, msgObj.time, 0, msgObj.color);
    }
    scrollToBottom();
  });

  var userList = document.getElementById('user-list'); 
  var userListArr = [];
  io.on('online users', (users) => {
    console.log(users)
    for(var i=0; i<users.length; i++){
      if(!userListArr.includes(users[i])){
        userListArr.push(users[i]);
        userList.innerHTML += `<div class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-avatar">person</i>
                <span>${users[i]}</span>
              </span>
              <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
            </div>`;
      }
    }
  });
</script>